.play-button-large {
    border: 2px solid transparent; /* Makes the button perfectly circle */
    border-radius: 50%;
    line-height: 1;
    transform: scale(1.5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
  }
  
  .next_btn {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid transparent; /* Makes the button perfectly circle */
  }
  
  .prev-btn {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid transparent; /* Makes the button perfectly circle */
  }
  
  .flex-container > button {
    margin: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
  }
  
  .flex-container > button:hover {
    cursor: pointer;
  }
  
  .range {
    width: 20em;
    margin: 1.3em;
    accent-color: #44365d;
  }

  .range:hover {
    accent-color: #35284b;
    cursor: pointer;
  }
