/* music player */
.music-player-container {
    background: white;
    border-radius: 15px;
    width: 60%;
    padding: 20px;
    margin-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    gap: 20px;
  }
  
  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    display: flex;
    align-items: end;
  }
  
  .box3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
  }
  
  .box4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .play-button-small {
    padding: 1rem;
    border: none;
    color: var(--color-accent);
    outline: none;
    background: transparent;
  }
  
  div.wrapper:hover {
    background-color: var(--color-gray);
    border-radius: 10px;
  }
  
  .play-button-small:hover {
    cursor: pointer;
  }
  
  .play-button-large {
    border: 2px solid transparent; /* Makes the button perfectly circle */
    border-radius: 50%;
    line-height: 1;
    transform: scale(1.5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .flex-container {
    display: flex;
  }
  
  .next_btn {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid transparent; /* Makes the button perfectly circle */
  }
  
  .prev-btn {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid transparent; /* Makes the button perfectly circle */
  }
  
  .flex-container > button {
    margin: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
  }
  
  .flex-container > button:hover {
    cursor: pointer;
  }