/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to bottom, #fefcee, #e49fa2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
